[ng-cloak] {
  display: none;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

md-list .md-button.selected {
  color: #03a9f4;
}
md-sidenav {
    overflow-x: hidden;
}
md-sidenav md-list {
  padding: 0px 0px 8px 0px;
}

/* Primary content area */

#content {
  overflow: hidden;
}

#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill: black;
  width: 36px;
  height: 36px;
}

md-button.menuBtn > md-icon {
  fill: white;
  width: 24px;
  height: 24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding: 4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

span.name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px;
}

library-list input {
    width: 100%;
    text-transform: uppercase;
    padding: 5px;
}
library-details div {
    padding: 5px;
}

.demo-md-panel {
  min-height: 500px;
}

.demo-dialog-example {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 500px;
}

.demo-dialog-content {
  padding: 0 15px;
  width: 100%;
}

.demo-dialog-content md-content {
  overflow: hidden;
}

.demo-dialog-button {
  width: 100%;
}
.md-select-menu-container.md-active.md-clickable {
    z-index: 999;
}

.success-msg {
/*    position: fixed;*/
    background-color: rgb(16,108,200);
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    opacity: 1;
}

.md-primary-bottom-right {
    position: absolute;
    bottom : 20px;
    right: 20px;
}

#lblSearch {
    position: absolute;
    left: -100px;
}